<mat-grid-list [cols]="columns$ | async" gutterSize="16">
  <mat-grid-tile class="tile" *ngFor="let user of users">
    <a class="tile__content"
       fxLayout="column"
       fxLayoutAlign="center center"
       [routerLink]="['/users', user.id]">

      <span class="tile__price-tag"
            ngClass.xs="tile__price-tag--xs">
        {{ user.price | currency:'USD':'symbol':'.0' }}
      </span>

      <div class="tile__thumbnail"
           [ngStyle]="{'background-image': 'url(' + urlFor(user) + ')'}"></div>

      <div class="tile__title"
           ngClass.xs="tile__title--xs"
           ngClass.lg="tile__title--lg">{{ user.title }}</div>
    </a>
  </mat-grid-tile>
</mat-grid-list>
